


header{
height: 100px;
background-color: #ffcd34;
overflow: hidden;

}
.left{float: left;}
.right {float: right;}
a{text-decoration: none;}
.center{text-align: center;}
.inline{display: inline-block;}
.container{width: 930px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
border: solid 1px green;
}

ul {list-style-type: none;}

.logo {padding: 25px 0px 20px 10px}

.main-nav {
  text-decoration: none;
  font-family: PT sans;
}
.inline-link {
  color: black;
font-size: 13px;
font-family: PT sans;
font-weight: bold;

}
 .order-call {
  background-color: #FFE083 ;
  color: black;
  font-size: 12px;
  padding: 10px 25px;
  font-weight: bold;
}

 .inline-link-brown {
  color: #B08C1D;
  font-family: PT sans;
  font-size: 12px;
}


  /*promo-center*/
.promo:before{
content:"";
position: absolute;
left: 0;
top: -12px;
width: 100%;
height: 20px;
background-image:
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 20px 14px;
background-repeat: repeat-x;}


.promo {
  position: relative;
  background-image: url(../img/ekskavator-hyundai.jpg);
  background-position:  center;
  min-height: 390px;
  background-size: cover;
}

.promo-title {
	text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-family: PT sans;
}

.promo-text{
  color: #c2c3bf;
  font-size: 20px;
  margin: 18px 150px 30px;
  font-family: PT sans;
  text-align: center;
}

.promo-btn-div {
  border: solid 2.3px #FECE34;
  width: 170px;
  height: 25px;
  margin: 0 auto;
  vertical-align: center;
  padding: 8px 20px 5px 0px;
  background-image: url(../img/arrowleft.gif);
  background-repeat: no-repeat;
  background-position: 90% 40%;
  background-size: 10px;
}

.promo-btn {
	text-decoration: none;

  padding: 10px;
  color: white;

 }
body{ }
*{
  margin: 0;
  padding: 0;

}



/*order-consult*/

.order-consult {
  background-color: #202e3b;
  height: 160px;
  position: relative;
}

.order-consult:before {
content:"";
position: absolute;
left: 0;
top: -14px;
width: 100%;
height: 20px;
background-image:
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 20px 14px;
background-repeat: repeat-x;}

.title {
	  color: #FFCE34;
    padding: 30px 0px 20px 30px;
    font-size: 21px;
    font-family: PT sans;
    font-weight: lighter;
    margin-left: -5px;
}
input {
margin: 10px ;
	  color: white;
	  border: solid 1px #FFCE34;
    background-color: #202E3B;
    padding: 10px 50px 10px 10px;
    font-family: PT sans;
    font-size: 14px;
    width: 140px;
}

.icon {background-image: url(../img/arrow_down.png);
       background-repeat: no-repeat;
       background-position: 90% 50%;
     }
 .call-consult-btn {
  text-decoration: none;
  color: #202E3B ;
  background-color: #FFCE34;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  font-family: PT sans;
  font-weight: bold;
  font-size: 15px;
  margin-left: 12px;

}

.to-consult {
  margin-right: 25px;
  margin-left: 0px;
}

/*advantages*/

.advantages {
  margin-top: 15px;
  font-family: PT sans;
}

.row {
  box-sizing: border-box;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.item-tools {
  background-image: url(../img/tools.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.item-alarm {
  background-image: url(../img/worker.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.item-border {
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.item-worker {
  background-image: url(../img/helmetman.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}



.advantages-item {
  width: 22%;
  max-height: 50px;
  display: inline-block;
  font-size: 12px;
  margin: 0px 10px;
  text-align: left;
}

.advantages-item-fontsize {
  width: 75%;
  float: right;

}





/*asider&table*/

.offers {
  overflow: hidden;
  background-color: #F3F3F3;
  margin-top: 10px;
  font-family: "PT sans";
  position: relative;
}

.offers:before {
content:"";
position: absolute;
left: 0;
top: 292px;
width: 100%;
height: 20px;
background-image:
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 20px 14px;
background-repeat: repeat-x;}


.technics-nav {
  width: 213px;
  padding-top: 25px;
}

.tech {
  text-decoration: underline;
  color: black;
  font-size: 13px;
  padding: 5px 0 10px 10px;
  clear: right;
}

.technics-links{
  padding: 10px 0px 10px;
  padding-bottom: 40px;
}

.tech-links {padding: 8px 0px 0px 0px}

.subtitle {
  padding-left: 8px;
  font-size: 20px;
}

.subtitle-special-offer {
  font-size: 20px;
  padding-left: 40px;
}

.offers-table {
  margin: 18px 0px 0px 38px;
  border-collapse:collapse;
}

.first-td {
  padding-right: 100px;
}
.second-td {padding: 5px 20px;}

/*ABOUT*/

.about {
  background-color: #202E3B;
  font-family: PT Sans;
  overflow: hidden;
  height: 400px;
  position: relative;
}

.white {background-color: white;}
.verygrey {background-color: #dfdfdf;}


.about:before {
content:"";
position: absolute;
left: 0;
top: 386px;
width: 100%;
height: 20px;
background-image:
linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 20px 14px;
background-repeat: repeat-x;}


.about-digits {
  padding-top: 30px;}

.subtitle-digits {
  color: white;
  font-size: 22px;
  font-weight: lighter;
}

.digits-digits {
  width: 30%;
  padding: 10px 0px 40px 10px;
}

.about-digits-digit {
  font-family: PT sans;
  color: #888A8F;
  font-size: 14px;
}

.current-digits {
  color: #E0AF49;
  font-size: 28px;
}

.about-reviews{
  color: white;
  font-size: 12px;
  padding-top: 8px
}
.subtitle-review {
  font-size: 22px;
}

.about-reviews-review {
  padding: 20px 0 0px 0;
}

.about-reviews-text {
  font-style: italic;
  font-size: 14px;
  color: #C0CACD;
}

.about-reviews-author {
  color: #F0B133;
  font-size: 12px;
  font-weight: bold;
}



/*MAP*/

.map {
  background-color: #D4E4CD;
  height: 400px;
}




/*FOOTER*/


.footer{
  overflow: hidden;
  background-color: #202E3B;}

.footer-logo {padding: 15px 0px 0px 10px}


.spec-name {color: #dfb535;}
.main-nav {
  text-decoration: none;
  padding: 25px 30px 20px 0;
  font-family: PT sans;
}
.footer-inline-link {
  color: white;
font-size: 13px;
}

 .footer-order-call {
  color: #dfb535;
  font-size: 13px;
}



 .inline {padding: 0px 20px 0px}







/*-------- CATALOG --------*/


.portfolio {
  background-color: #131F2B;
  font-family: PT sans;
  overflow: hidden;
}

.service {
  display: inline-block;
  }

.service-nav {
  font-size: 14px;
  padding: 34px 0 28px 0;
}

.service-title {
  vertical-align: center;
  color: #FFCE34;
  font-size: 20px;
  padding: 32px 0 30px 0;
}

.service-type {
  color: white;
  vertical-align: center;
  text-decoration: underline;
  padding: 0px 10px 0 10px;
}

