


header{
min-height: 75px;
background-color: #ffce34;
}
.logo {
	text-decoration: none;
    color: black;
}
.left{float: left;}
.right {float: right;}
a{text-decoration: none;}
.center{text-align: center;}
.inline{display: inline-block;}
.container{width: 930px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-left: 15px;
border: solid 1px green;
}

ul {list-style-type: none;}

.logo {padding: 25px 0px 20px 40px}

.main-nav {
  text-decoration: none;
  font-family: PT sans;
}
.inline-link {
  color: black;
font-size: 13px;
font-family: PT sans;
font-weight: bold;

}
 .order-call {
  background-color: #FFE083 ;
  color: black;
  font-size: 12px;
  padding: 10px 25px;
  font-weight: bold;
}

 .inline-link-brown {
  color: #B08C1D;
  font-family: PT sans;
  font-size: 12px;
}


  /*promo-center*/



.promo {
  background-image: url(http://www.masoncontractors.org/images/news/caterpillar-named-a-2013-silver-edison-award-winner-large.jpg);
  background-position:  center;
  min-height: 380px;
  background-size: cover;
}

.promo-title {
	text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-family: PT sans;
}

.promo-text{
  color: white;
  font-size: 18px;
  margin: 18px 150px 30px;
  font-weight: lighter;
  font-family: PT sans;
  text-align: center;
}
.promo-btn {
	text-decoration: none;
	border: solid 1px #FECE34;
  padding: 10px;
  color: white;

 }

.submit {
	background-color: #fff;
    color: #000;
}
body{ }
*{
  margin: 0;
  padding: 0;

}



/*order-consult*/

.order-consult {
     background-color: #202e3b;
     height: 160px;

}

.title {
	  color: #FFCE34;
    padding: 30px 0px 20px 20px;
    font-size: 21px;
    font-family: PT sans;
    font-weight: lighter;
}
input {
	  margin: 10px;
	  color: white;
	  border: solid 1px #FFCE34;
    background-color: #202E3B;
    padding: 10px 50px 10px 10px;
    font-family: PT sans;
    font-size: 12px;
}
.call-consultation-btn {
  text-decoration: none;
  color: #202E3B ;
  background-color: #FFCE34;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  font-family: PT sans;
  font-weight: bold;
  font-size: 15px;

}


/*advantages*/

.advantages {
  margin-top: 15px;
  font-family: PT sans;
}

.advantages-item-fontsize {font-size: 11px;}

.advantages-item-tools {
  padding-left: 10px;
}

.advantages-item-worker {padding-left: 700px;}




/*asider&table*/

.offers {
  overflow: hidden;
  background-color: #F3F3F3;
  margin-top: 10px;
  font-family: PT sans;
}

.tech {
  text-decoration: underline;
  color: black;
  font-size: 13px;

  padding: 5px 0 10px 10px;
  clear: right;
}

.technics-nav {
  width: 213px;
  padding-top: 25px;

}

.technics-links{
  padding: 10px 0px 10px;
  padding-bottom: 40px;
}

.tech-links {padding: 8px 0px 0px 0px}

.subtitle {
  padding-left: 8px;
  font-size: 20px;
}

.subtitle-special-offer {
  font-size: 20px;
  padding-left: 40px;
}


/*ABOUT*/

.about {
  background-color: #202E3B;
  font-family: PT Sans;
  overflow: hidden;

}

.about-digits {
  padding-top: 30px;}

.subtitle-digits {
  color: white;
  font-size: 22px;
  font-weight: lighter;
}

.digits-digits {
  width: 30%;
  padding: 10px 0px 40px 10px;
}

.about-digits-digit {
  font-family: PT sans;
  color: #888A8F;
  font-size: 14px;
}

.current-digits {
  color: #E0AF49;
  font-size: 28px;
}

.about-reviews{
  color: white;
  font-size: 12px;
  padding-top: 8px
}
.subtitle-review {
  font-size: 22px;
}

.about-reviews-review {
  padding: 20px 0 0px 0;
}

.about-reviews-text {
  font-style: italic;
  font-size: 14px;
  color: #C0CACD;
}

.about-reviews-author {
  color: #F0B133;
  font-size: 12px;
  font-weight: bold;
}



/*MAP*/

.map {
  background-color: #D4E4CD;
  height: 400px;
}




/*FOOTER*/


.footer{
  overflow: hidden;
  background-color: #202E3B;}

.footer-logo {padding: 25px 0px 20px 40px}


.spec-name {color: #dfb535;}
.main-nav {
  text-decoration: none;
  padding: 25px 30px 20px 0;
  font-family: arial;
}
.footer-inline-link {
  color: white;
font-size: 13px;
}

 .footer-order-call {
  color: #dfb535;
  font-size: 13px;
}



 .inline {padding: 0px 20px 0px}







/*-------- CATALOG --------*/


.portfolio {
  background-color: #131F2B;
  font-family: PT sans;
  overflow: hidden;
}

.service {
  display: inline-block;
  }

.service-nav {
  font-size: 14px;
  padding: 34px 0 28px 0;
}

.service-title {
  vertical-align: center;
  color: #FFCE34;
  font-size: 20px;
  padding: 32px 0 30px 0;
}

.service-type {
  color: white;
  vertical-align: center;
  text-decoration: underline;
  padding: 0px 10px 0 10px;
}

